@model PrometheusWeb.MVC.Models.ViewModels.TeacherCourses
@{
    ViewBag.Title = "SaveCourses";
}
<div class="form-body center-block">
    @using (Html.BeginForm())
    {
        
        <div class="form-group editor-field">
            @Html.LabelFor(model => model.CourseID)
            @Html.DisplayFor(model => model.CourseID, new
       { disabled = "disabled", @readonly = "readonly" })
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.TeacherID)
            @Html.EditorFor(model => model.TeacherID, new
       { disabled = "disabled", @readonly = "readonly" })
        </div>*@

        <div class="form-group editor-field">
            @Html.LabelFor(model => model.Name)
            @Html.DisplayFor(model => model.Name, new
       { disabled = "disabled", @readonly = "readonly" })
        </div>
        <div class="form-group editor-field">
            @Html.LabelFor(model => model.StartDate)
            @Html.DisplayFor(model => model.StartDate, new
       { disabled = "disabled", @readonly = "readonly" })
        </div>
        <div class="form-group editor-field">
            @Html.LabelFor(model => model.EndDate)
            @Html.DisplayFor(model => model.EndDate, new
       { disabled = "disabled", @readonly = "readonly" })
        </div>

        <div class="form-group">
            <input type="submit" value="Enroll Course" class="btn buton" />
        </div>
    }
</div>

