@model IEnumerable<PrometheusWeb.Data.UserModels.AdminUserModel>

@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

<p>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Get))
    {
        <input type="text" name="search" placeholder="Enter UserID Name" style="color:black; font-weight:600;" />
        <input type="submit" name="submit" value="Search" style="background-color:greenyellow; color:black; font-weight:600;" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityQuestion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityQuestion)
        </td>
        <td>
            <a href="@Url.Action("ChangePassword", "Account", new { id = item.UserID})" class="btn btn-primary"><i class="fa fa-pencil"></i>  Edit</a>
        </td>
    </tr>
}

</table>
