@model PrometheusWeb.Data.UserModels.CourseUserModel
@{
    ViewBag.Title = "AddOrEditCourses";
}

<div style="padding-left:700px; ">
    <h2>Add Student</h2>
</div>
@using (Html.BeginForm("AddOrEditCourses", "Courses", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div style="padding-left:665px; ">
        <h4>Create a new course.</h4>
    </div>
    <hr />
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    @Html.HiddenFor(model => model.CourseID)
    <div class="form-group" style="padding-left:540px">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="form-group" style="padding-left:540px">
        @Html.LabelFor(m => m.StartDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @class = "datepicker" } })
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
    </div>
    <div class="form-group" style="padding-left:540px">
        @Html.LabelFor(m => m.EndDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "datepicker" } })
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>
    </div>
    <div class="form-group" style="padding-left:750px">
        <input type="submit" value="Submit" class="btn button" />
        <input type="reset" value="Reset" class="btn button" />
    </div>
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "1990:2021"
            });
        });
        $(function () {
            var errorMessage = '@TempData["ErrorMessage"]'
            if (errorMessage != '')
                alertify.error(errorMessage);
        });
    </script>
}