@model PrometheusWeb.Data.UserModels.AdminUserModel
@{
    ViewBag.Title = "AddOrEditStudent";
}

<h2>AddOrEditStudent</h2>

<div class="form-group">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.StudentID)
        <div class="form-group">
            @Html.LabelFor(model => model.FName)
            @Html.EditorFor(model => model.FName)
            @Html.ValidationMessageFor(model => model.FName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LName)
            @Html.EditorFor(model => model.LName)
            @Html.ValidationMessageFor(model => model.LName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserID)
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB)
            @Html.EditorFor(model => model.DOB)
            @Html.ValidationMessageFor(model => model.DOB)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address)
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City)
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MobileNo)
            @Html.EditorFor(model => model.MobileNo)
            @Html.ValidationMessageFor(model => model.MobileNo)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role)
            @Html.EditorFor(model => model.Role)
            @Html.ValidationMessageFor(model => model.Role)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecurityQuestion)
            @Html.EditorFor(model => model.SecurityQuestion)
            @Html.ValidationMessageFor(model => model.SecurityQuestion)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecurityAnswer)
            @Html.EditorFor(model => model.SecurityAnswer)
            @Html.ValidationMessageFor(model => model.SecurityAnswer)
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn button" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}