
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <h2>Index</h2>
    <button class="btn btn-primary">@Html.ActionLink("Admin", "Index", "Admin")</button>
    <br>
    <button class="btn btn-primary">@Html.ActionLink("Add Teacher", "AddTeacher", "Admin")</button>
    <br>
    <button class="btn btn-primary">@Html.ActionLink("Add Student", "AddStudent", "Admin")</button>
    <br>
    <button class="btn btn-primary">@Html.ActionLink("View Students", "ViewStudents", "Admin")</button>
    <br>
    <button class="btn btn-primary">@Html.ActionLink("View Teachers", "ViewTeachers", "Admin")</button>
    <br>
</div>